/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
/* HEADER */
header{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container , .header-container2{
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.header-container{
    width: 600px;
}
.header-container2{
    width: 500px;
}
.header-container > div , .header-container2 > div{
    border: 1px dashed;
    width: calc(100% / 4);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MAIN */
.jumbotrone{
    background-color: cornflowerblue;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.jumbotrone > h1{
    width: 60%;
    height: 50%;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: aqua;
}
.main-container{
    display: flex;
    flex-direction: row;
    background-color: coral;
    width: 60%;
    height: 50%;
    position: relative;
}
.main-box1, .main-box2{
    width: 50%;
    height: 100%;
    background-color: darkgray;
    border: 1px solid black;
}
.main-box2{
    position: absolute;
    top: 40px;
    right: 0;
}
/* FOOTER */