/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body{
    font-family: 'Noto Sans', sans-serif;
}
.jumbotrone, #business-plan, #partnership, #operations, #free-trial, #faq{
    margin-bottom: 150px;
}
.container{
    width: 60%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;

}
.column{
    flex-direction: column;
}
.title-container {
    width: 60%;
    margin: 70px;
}
.title-container > h2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#free-trial > .container > .title-container, #faq > .container > .title-container{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#operations > .container{
    margin-bottom: 150px;
}
.start{
    background-color: blue;
    max-width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
}
.underline-blue{
    text-decoration: underline;
    color: blue;
}
.lightgray{
    color: lightgray;
}
.background-lightgray{
    background-color: lightgray;
}
.blue{
    color: blue;
}
.transparent{
    background-color: transparent;
    color: black;
}
/* HEADER */
header{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
}
.header-container , .header-container2{
    display: flex;
    flex-direction: row;
}
.header-container{
    width: 800px;
}
.header-container2{
    width: 750px;
}
.header-container > div , .header-container2 > div{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container > div:not(.logo):hover, .header-container2 > div:hover{
    border-bottom: 2px solid black;
}
/* MAIN */
/* JUMBOTRONE */
.jumbotrone{
    background-color: cornflowerblue;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.jumbotrone > h1{
    width: 70%;
    height: 50%;
    font-size: 70px;
    display: flex;
    align-items: flex-end;
}
.main-footer-container{
    width: 70%;
    min-height: 50%;
    display: flex;
    position: relative;
}
.main-box1, .main-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.main-box1{
    width: 40%;
    height: 100%;
}
.main-box2{
    width: 60%;
    min-height: 100%;
}
.main-box1 > p{
    margin-top: 40px;
    font-size: 20px;
}
.main-box1 > i{
    font-size: 50px;
}
.main-box2{
    position: absolute;
    top: 40px;
    right: 0;
}

/* BUSINESS-PLAN */
#business-plan{
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid lightgray;
    display: inline-block;
    
}
.select:active{
    border: 5px solid blue;
}
.choice{
    margin-right: 20px;
}
.circle, .choice{
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}
.business{
    justify-content: space-between;
}
.single-or-team{
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
}
.plan{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.plan > h3, span, hr, strong{
    margin-top: 20px;
    margin-bottom: 20px;
}
.box{
    width: 30%;
    min-height: 1050px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.business-line{
    width: 20%;
}
.horizontal-box{
    width: 60%;
    height: 350px;
    border: 1px solid black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal-plan{
    height: 400px;
    width: 95%;
    position: relative;
}
.horizontal-plan > h3{
    position: absolute;
    top: 60px;
    left:0px;
}
.horizontal-plan > strong{
    position: absolute;
    top: 80px;
    left: 0;
}
.horizontal-plan > span{
    position: absolute;
    bottom: 60px;
    left: 0;
    max-width: 60%;
}
.horizontal-plan > a{
    position: absolute;
    top: 60px;
    right: 0; 
}

/* PARTNERSHIP */
#partnership{
    display: flex;
    justify-content: center;
}
.partner > .box-partner1{
    width: 60%;
    min-height: 600px;
    background-image: url('../img/partner.png');
    background-size: cover;
}
.partner > .box-partner2{
    width: 40%;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.box-partner2 > div{
    max-width: 80%;
    margin-top: 50px;
}
.box-partner2 > div > h3{
    margin-bottom: 20px;
}
.box-partner2 > div > p{
    margin-bottom: 50px;  
}
/* OPERATIONS */
#operations{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.operation{
    width: calc(100% / 3);
    min-height: 300px;
    display: flex;
    flex-direction: column;

}
.operation> img, h3, p {
    width: 100%;
}
.operation> h3, p {
    margin-top: 15px;
    margin-bottom: 30px;
}
/* CUSTOMERS */
#customers{
    display: flex;
    flex-direction: row;
    height: 600px;
}
.big-box{
    width: calc(100vw / 3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.big-box > .customer-arizona, .customer-design, .customer-florida, .customer-topps, .customer-wordbicycle, .customer-hearts, .customer-lonely, .customer-clear{
    width: calc(100% / 2);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-box > .customer-arizona > img , .big-box > .customer-clear > img, .big-box > .customer-design > img , .big-box > .customer-hearts > img, .big-box > .customer-wordbicycle > img, .big-box > .customer-lonely > img, .big-box > .customer-florida > img, .big-box > .customer-topps > img{
    width: 60%;
    filter: invert(1);
}
.customer-design{
    background-color: green;
    border: 20px solid lightgreen;
}
.customer-arizona{
    background-color: brown;
}
.customer-florida{
    background-color: lightblue;
}
.customer-topps{
    background-color: red;
}
.customer-wordbicycle{
    background-color: darkred;
}
.customer-hearts{
    background-color: cornflowerblue;
}
.customer-lonely{
    background-color: blue;
}
.customer-clear{
    background-color: yellow;
}
.customer-description{
    width: 80%;
    padding: 30px;
}
.customer-description > img{
    width: 60%;
    margin-bottom: 20px;
}
.customer-description > hr{
    width: 20%;
    margin-bottom: 40px;
}
/* FREE-TRIAL */
#free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
#free-trial > .container{
    justify-content: space-between;
    align-items: center;
}
#free-trial > .container > .title-container > h2{
    color: brown;
}
#trial-button{
    background-color: lightgrey;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
/* FAQ */
#faq{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER */
footer{
    width: 100%;
    height: 900px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-footer{
    border: 1px solid black;
    width: calc(100% / 5);
    height: 600px;
    background-color: blue;
}
.line{
    width: 70%;
    display: flex;
}
.line > hr{
    margin-top: 20px;
    width: 100%;
    align-self: flex-start;
}
